.Normal_Text {font-family:'Montserrat';font-weight:normal;font-style:normal;font-size:14px;text-decoration:none;color:#333333;letter-spacing:0em;}
.Heading_2 {font-family:'Montserrat';font-weight:normal;font-style:normal;font-size:20px;text-decoration:none;color:#333333;letter-spacing:0em;}
.Heading_1 {font-family:'Montserrat';font-weight:bold;font-style:normal;font-size:20px;text-decoration:none;color:#333333;letter-spacing:0em;}
.Icon_Small {font-family:'FontAwesome Regular';font-weight:normal;font-style:normal;font-size:35px;text-decoration:none;color:#222222;letter-spacing:0em;}
.Small_Text {font-size:11px;}
.Heading_3 {font-family:'Montserrat';font-weight:normal;font-style:normal;font-size:15px;text-decoration:none;color:#333333;letter-spacing:0em;}
.Big_Text {font-family:'Montserrat';font-weight:normal;font-style:normal;font-size:40px;text-decoration:none;color:#333333;letter-spacing:0em;}
.Button {font-family:'Montserrat';font-weight:normal;font-style:normal;font-size:15px;text-decoration:none;color:#FCFCFC;letter-spacing:0em;}
